bin/
obj/
LentSoft.Web/bin/
LentSoft.Web/obj/
*.user
.vs/
.vscode/
.idea/
*.useros
*.suo
*.log

# Databases
*.db
*.db-shm
*.db-wal
*.mdf
*.ldf

# Local config & Secrets
appsettings.Development.json
appsettings.Production.json
appsettings.Local.json
secrets.json
*.env
*.env.*
TestResults/
publish/
